html body {
  background-image: url(http://i.imgur.com/zc7GQ16.png);
}

body {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
  text-align: center;
  font-family: Arial;
}

body a {
  color: black;
  font-size: 16px;
}

body a:hover {
  color: #68228B;
  text-decoration: none;
}

header {
  background-color: white;
  margin-bottom: 15px;
}

.main-logo {
  width: 60%;
}

/*Navigation*/

nav {
  width: 100%;
  margin-bottom: 60px;
  text-align: center;
}

nav ul {
  width: 100%;
  list-style: none;
}

nav ul li {
  width: 14%;
  float: left;
  padding: 8px;
}

nav ul li a {
  display: block;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

/*Auditions*/

#content-auditions {
  background-color: #EEDC82;
  padding: 20px;
  font-size: 14px;
}

.audition-slogan {
  font-size: 35px;
  color: black;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: bold;
}

.west-side-story-logo {
  width: 60%;
  min-width: 350px;
  max-width: 550px;
  margin: 0px 5px 8px 5px;
  }

.audition-info {
  background-color: #FFFFFD;
  padding: 15px;
  max-width: 800px;
  margin: auto;
  font-weight: bold;
  border: 1px gray solid;
  margin-top: 15px;
  color: #424242;
}

.audition-info a {
  color: #424242
}

/*Archives*/

#content-archives {
  text-decoration: none;
  font-size: 14px;
  background-image: url(http://i.imgur.com/zc7GQ16.png);
 }

#content-archives h3 {
  text-decoration: underline;
  padding-left: 35px;
}

#content-archives h1 {
  color: #575757;
}

#content-archives li {
  list-style-type: none;
}

.archives-info {
  background-color: #575757;
  color: white;
  margin: auto;
  max-width: 430px;
  padding-right: 40px;
  padding-bottom: 5px;
  border: 1px gray solid;
  margin: 15px 8px 15px 8px;
  display: inline-block;
}

.archives-photo {
  display: inline-block;
}

.archives-photo img {
  width: 100%;
  min-width: 280px;
  max-width: 500px;
  display: inline-block;
  margin: 10px;
}

.archives-photo p {
  font-style: italic;
  color: black;
}

/*Testimonials*/

#content-testimonials {
  background-color: #5D478B;
  padding: 30px;
  color: white;
}

.testimonials-info {
  border: 1px solid black;
  margin: 0 auto;
  padding: 10px;
  background-color: #EEDC82;
  color: black;
  max-width: 1060px;
}

#content-testimonials p {
  font-size: 14px;
}

.testimonials-photo {
  display: inline-block;
}

.testimonials-photo img {
  width: 100%;
  min-width: 300px;
  max-width: 520px;
  display: inline-block;
  margin: 10px;
}

.testimonials-photo p {
  font-style: italic;
  margin: -5px 0 8px 0;
}

/*Tickets*/

#content-tickets {
  background-color: #FDF5E6;
  padding: 50px;
  color: #5D478B;
}

#content-tickets p {
  font-size: 22px;
} 

/*About*/

#content-about {
  background-color: #575757;
  padding: 60px;
  color: white;
  font-size: 22px;
}

/*Contact*/

#content-contact {
  background-color: #EEDC82;
  padding: 40px;
  color: #575757;
}

#content-contact p {
  font-size: 22px;
}

#content-contact .email {
  font-size: 18px;
  color: #575757;
}

.contact-info {
  margin-bottom: 20px;
}

.follow-icon {
  width: 80px;
  margin: 40px 50px 40px 50px;
}

/*Footer*/

#footer {
  background-image: url(http://i.imgur.com/zc7GQ16.png);
  padding: 20px 20px 10px 5px;
  font-size: 16px;
  color: #575757;
}

#footer a {
  color: #575757
}

.footer-left {
  float: left;
}

.footer-right {
  float: right;
}

/*@media only screen and (max-device-width: 500px) {

  nav ul li a {
    display: inline-block;
  }
*/
}
