body {
  background-image: url(http://i.imgur.com/zc7GQ16.png);
  width: 100%;
  margin: 0 auto;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
  text-align: center;
  font-family: Arial;
}

header {
  background-color: white;
  margin-bottom: 15px;
}

.main-logo {
  width: 60%;
}

nav {
  width: 100%;
  margin-bottom: 60px;
  text-align: center;
}

nav ul {
  width: 100%;
  list-style: none;
}

nav ul li {
  width: 20%;
  float: left;
}

nav ul li a {
  display: block;
  width: 50%;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.audtion-slogan {
  font-size: 30px;
  color: white;
}

.flyer {
  width: 90%;
  max-width: 800px;
  padding: 10px;
}

.west-side-story-logo {
  width: 50%;
  padding-bottom: 10px;
}

#content-auditions {
  background-color: #EEDC82;
  padding: 20px;
}

#content-tickets {
  background-image: url(http://i.imgur.com/zc7GQ16.png);
  padding: 50px;
  color: #5D478B;
}

#content-tickets p {
  font-size: 22px;
} 

#content-about {
  background-color: #575757;
  padding: 60px;
  color: white;
  font-size: 22px;
}

#content-about a {
  font-size: 14px;
}

#content-contact {
  background-color: #5D478B;
  padding: 60px;
  color: white;
}

#content-contact p {
  font-size: 22px;
}

#content-contact .email {
  font-size: 18px;
}

#footer {
  background-image: url(http://i.imgur.com/zc7GQ16.png);
  padding: 20px 20px 10px 5px;
  font-size: 16px;
}

.footer-left {
  float: left;
}

.footer-right {
  float: right;
}